@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "./assets/colors.scss";

html {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 98%;
    background-color: $primaire;
    font-family: 'Roboto', sans-serif;
}

.principal {
    width: 100%;
    height: 100%;
    .container-form {
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        .form {
            padding: 20px 40px;
            box-shadow: $noir 8px 8px 16px;
            input[type=search] {
                font-size: 34px;
                background-color: $primaire;
                border: none;
                border-bottom: solid 2px $tertiaire;
                &:focus {
                    background-color: $secondaire;      
                    outline:solid $secondaire 2000px;
                }
            }
            input[type=submit] {
                background-color: $tertiaire;
                font-size: 34px;
                filter: drop-shadow($noir 4px 4px 8px);
                border-radius: 25px;
                padding: 5px 10px;
                margin-left: 25px;
                border: solid 2px $noir;
            }
        }
    }
}

.top {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $tertiaire;
    filter: drop-shadow($noir 4px 4px 8px);
    .titre {
        font-size: 52px;
        text-align: center;
        color: $blanc;
    }
}

.container-movie {
    height: 85%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    .left {
        width: 50%;
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        .poster {
            width: 90%;
            height: 90%;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                filter: drop-shadow($noir 4px 4px 8px);
            }
        }
    }
    .right {
        width: 50%;
        height: 90%;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        text-align: left;
        justify-content: space-between;
        padding-right: 15px;
    }
}

.container-movies {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .movies {
        width: 20%;
        height: 35%;
        img {
            width: 80%;
            height: 90%;
            object-fit: contain;
            filter: drop-shadow($noir 4px 4px 8px);
        }
        p {
            width: 80%;
            text-align: center;
        }
    }
}

///////////////////////////////////////////////
///////////////////////////////////////////////
/// 
/// responsive mobile
/// 
@media all and (max-width: 480px) {
    .container-form {
        .form {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            input[type=search] {
                font-size: 16px;
                margin-bottom: 20px;
            }
            input[type=submit] {
                width: 50%;
                font-size: 16px;
                margin-left: 0;
            }
        }
    }
    
    .top {
        .titre {
            font-size: 18px;
        }
    }
    
    .container-movie {
        height: 55%;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        .left {
            width: 100%;
        }
        .right {
            width: 100%;
            padding-right: 0;
        }
    }
    
    .container-movies {
        .movies {
            display: flex;
            flex-flow: column;
            justify-content: center;
            width: 40%;
            height: 50%;
        }
    }
}